# Принуди GitHub да го покаже јазикот како Dart
* linguist-language=Dart

# Игнорирај ги платформските директориуми од детекцијата на јазик
linux/* linguist-vendored
windows/* linguist-vendored
macos/* linguist-vendored
android/* linguist-vendored
ios/* linguist-vendored
build/* linguist-vendored
.dart_tool/* linguist-vendored
